
table {
  width: 85%;
  margin: auto;
  border-spacing: 0px;
  padding-top: 20px;
}

th {
  background-color: mediumpurple;
  color: black;
  text-transform: uppercase;
  border: 10px solid mediumpurple;
}

td {
  border: 1px solid #dddddd;
  padding: 8px;
}
.container{
  text-align: center;

  align-items: center;
padding-top: 30px;

}
.container>div{
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

