td {
  border: 1px solid #000;

}

button{
  padding: 10px 16px;
  background: red;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  font-weight: bold;
}
button:hover{
 background: #ff4f4a;
}
