/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Bright";
}
.apexcharts-canvas {
  margin-top: 100px;
  margin-left: auto!important;
  margin-right: auto!important;
}

/* You can add global styles to this file, and also import other style files */
